/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: #E11364;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 3em;
    background-color: #BC105C;
    border-left: solid white;
    border-right: solid white;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 70px;
    padding: 20px;

    
}
.marcoExterno{
    color: white;
    background-color: #BC105C;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-radius: 10px;
}

.letra{

    border-bottom: dotted;
    text-align: right;
    color:#9C0037;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
   
}

.marcoInterno{
    background-color:white;
    color:black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;

}
.contenedor{

    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
    
}

.contenedor img{
    width: 100%;
  height: 100%;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.parrafo{
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.BtnComprar {
  
  display: inline-block;        
  background-color: #28a745;    
  color: white;                 
  font-weight: bold;            
  padding: 10px 20px;           
  border: none;                 
  border-radius: 5px;           
  text-decoration: none;        
  cursor: pointer;              
    
}

.acomodarBoton{
    padding: 10px;
    text-align: center;
    
}

.BtnComprar:hover {
  text-decoration: none;
}

.PiePag{
    background-color:#E96093;
    color:white;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;

}

.slider-container {
  width: 100%; /* Ajusta el ancho según necesites */
  height: auto; /* Ajusta la altura según necesites */
  overflow: hidden; /* Oculta las imágenes que están fuera del contenedor */
  position: relative;
  background-color:blue;
}

.slider {
  display: flex;
  width: 400%; /* 100% por cada imagen, en este caso 3 imágenes */
  animation: slide 12s infinite ease-in-out; /* Anima con una duración de 10 segundos, repitiendo infinitamente */
}

.slider img {
  width: 25%; /* Cada imagen ocupa 1/3 del ancho del slider */
  height: auto;
  object-fit: cover;
}

/* Define la animación de desplazamiento automático */
@keyframes slide {
  0% { transform: translateX(0); } /* Al inicio, muestra la primera imagen */
  20% { transform: translateX(0); } /* Muestra la primera imagen durante 2 segundos */
  30% { transform: translateX(-100%); } /* Se mueve a la segunda imagen */
  50% { transform: translateX(-100%); } /* Muestra la segunda imagen durante 2 segundos */
  60% { transform: translateX(-200%); } /* Se mueve a la tercera imagen */
  80% { transform: translateX(-200%); } /* Muestra la tercera imagen durante 2 segundos */
  65% { transform: translateX(-300%); } /* Se mueve a la tercera imagen */
  90% { transform: translateX(-300%); } /* Muestra la tercera imagen durante 2 segundos */
  100% { transform: translateX(0); } /* Regresa a la primera imagen */
}