/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: #E11364;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: #BC105C;
    border-left: solid white;
    border-right: solid white;
    margin-top: 10px;
    
}
.marcoExterno{
    color: white;
    background-color: #BC105C;
}

.marcoMario{
    background-color:white;
}