/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: #E11364;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 3em;
    background-color: #BC105C;
    border-left: solid white;
    border-right: solid white;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 70px;
    padding: 20px;

    
}
.marcoExterno{
    color: white;
    background-color: #BC105C;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 70px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-radius: 10px;
}

.letra{

    border-bottom: dotted;
    text-align: right;
    color:#9C0037;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
   
}

.marcoInterno{
    background-color:white;
    color:black;
    border-radius: 10px;
    margin-top: 20px;
    /* margin-left: 0px;
    margin-right: 0px; */
    margin-bottom: 70px;

}
.contenedor{

    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 70px;
    /* padding: 100px;  */
}

.contenedor img{
    width: 100%;
  height: 100%;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.parrafo{
    
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
footer{
    background-color:#E96093;
}