
body{
    background-color: #DFE1E1;
}

.stack-sans-notch-<uniquifier> {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.sixtyfour-<uniquifier> {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}
.titulo{
    
    background-image: url(/Practico_04/img/background.jpg);
    color: white;
    text-align: left;
    font-family: "Sixtyfour", sans-serif;
    font-size: 80px;
    font-weight: bolder;
    padding: 50px;
    border-radius: 10px;
   
    
}


.marcoExterno{
    background-color:antiquewhite;
    
}
h2{
    font-family: "Stack Sans Notch", sans-serif;
   text-align: center;
   font-size: 30px;

}
@font-face {
    font-family: super mario bross;
    src: url(/Practico_04/asset/SuperMarioBros-ov7d.ttf);
}
.letra{
    font-family: SuperMarioBros-ov7d;
}
