#navbar {
    
    height: 30vh;
    background:#F8F9F9;
    color: #fff;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    justify-content: space-between;
    a {
        color: #2D3095;
    }
    .logo {
        display: block;
  
        
    }
    .logo img{
        height: 20vh;
  width: auto;
  float: left;
        
    }
    ul{
        list-style: none;
        float: right;
        li{
            float: left;
        }
        li a{
            display: block;
            padding: 20px;
            text-align: center;

        }
    }
}//end navbar

