#navbar {
    height: 12vh;
    background:#F8F9F9;
    color: #fff;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
        color: #2D3095;
    }
    .logo {
        float: left;
        padding-top: 16px;
        font-size: 25px;
    }
    .logo img{
        height: 10px;
        width: 150px;
    }
    ul{
        list-style: none;
        float: right;
        li{
            float: left;
        }
        li a{
            display: block;
            padding: 20px;
            text-align: center;

        }
    }
}//end navbar

