#navbar {
    display: flexbox;
    height: 30vh;
    background:#F8F9F9;
    overflow:hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    
    a {
        color: #2D3095;
        float: right;
    }
    .logo {
    float: left;
    align-items: left;
            
        }
        .logo img{
            height: 30vh;
    width: auto;
        
    }
    ul{
        list-style: none;
        float: right;
        text-align: center;
        li{
            float: left;
        }
        li a{
            display: block;
            padding: 20px;
            text-align: center;

        }
    }
}//end navbar

//showcase
#showcase {
    height: 88vh;
    padding: 120px 0;
    background: url('../imagenes/g4c.jpg') no-repeat center/cover;
    h1 {
        width: 50%;
    }
}

