body {
    background-color: #EDECE9;
    font-family: Verdana, Arial, sans-serif;
}

header{
    color:#EF6D24;
    font-size: large;    
}

.logo img{
    background-color:aqua;
    width: 100%;
    height: auto;
    
}

.titulos{
    background-color:#775548;
    color:#E1D4CF;
}

.titulo{
    background-color:#775548;
    color:#D8B03B;
}