body {
    background-color: #EDECE9;
    font-family: Verdana, Arial, sans-serif;
}

header{
    color:black;
    font-size: large;    
}

.logo img{
    background-color:aqua;
    width: 100%;
    height: auto;
    
    
}

nav a {
    color: #EF6D24;
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;;
    margin: 0 5px;
}
h1{
    color:#775548;
    font-size: 50px;
}
.titulos{
    background-color:#775548;
    color:#E1D4CF;
}

.titulo{
    background-color:#775548;
    color:#D8B03B;
}