body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-weight: 10;  
    margin: 0;
    padding: 10px;
    background-color: #fff;
    color: #003366;
}

header {
    text-align: center;
    margin-bottom: 40px;
 
}

.logo {
    width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

h1 {
    font-family: font-family:  'Lucida Sans', 'Lucida Sans Regular' ;
    font-weight: 10;  
    color: #b35ba4;
    font-size: 35px;
    letter-spacing: 20px;
    margin-top: -80px;
}


h2 {
    font-weight: 10;  
    color: #b35ba4;
    font-size: 22px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}


.hotel {
    margin-bottom: 50px;
}


.content {
    display: flex;
    flex-direction: row;
    gap: 10px;align-items: flex-start;
}


.text {
    flex: 2;
    font-size: 11.5px;
    text-align: left;
}


.imagen {
    flex: 1;
}

.imagen img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    align-content: left;

}
.imagen1 img {
   display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
width: 300px;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}
.text1 {
    flex: 1;
    font-size: 11.5px;
    text-align: left;
    
}

.hotel {
  
}

.imagen1 img {
  
 
}

.hotel-text {
  
}

