img{ 
    width: 50% 
    ;
    height: auto;
}

h1 { font-family:  'Lucida Sans Unicode'; font;text-align: center; color: #b35ba4; letter-spacing: 1cap;font-size: 40px;
    
    }
    .logo {
    display: block;
    margin: 0 auto;
    
}