
h1 { 
    font-family:  'Lucida Sans Unicode';
    text-align: center; 
    color: #b35ba4; 
    letter-spacing: 1cap;
    font-size: 40px;
    margin-bottom: 10px;
    }
    
.logo {      
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    }

h3{
    font-family:  'Lucida Sans Unicode';
    text-align: left; 
    color: #b35ba4; 
    letter-spacing: 1cap;

    }

