img{ 
    width: 50% 
    ;
    height: auto;
}

h2 { font-family:  'Lucida Sans Unicode'; font;text-align: center; color: #b35ba4; letter-spacing: 1cap;
    }
    .logo {
    display: block;
    margin: 0 auto;
    
}