img{ 
    width: 50% 
    ;
    height: auto;
}

h1 { font-family: Arial, sans-serif; font;text-align: center; color: #b35ba4;
    }
    .logo {
    display: block;
    margin: 0 auto;
    height: 80px;
}