body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-weight: 10;  
    margin: 0;
    padding: 10px;
    background-color: #fff;
    color: #003366;
}

header {
    text-align: center;
    margin-bottom: 40px;
 
}

.logo {
    width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

h1 {
    font-family: font-family:  'Lucida Sans', 'Lucida Sans Regular' ;
    font-weight: 10;  
    color: #b35ba4;
    font-size: 35px;
    letter-spacing: 20px;
    margin-top: -80px;
}


h2 {
    font-weight: 10;  
    color: #b35ba4;
    font-size: 22px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}
.h2caribbean{
    letter-spacing: 11px;
}

.hotelpop {
    margin-bottom: 50px;
}

.contentpop {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

.textpop {
    flex: 2;
    font-size: 11.5px;
    text-align: left;
}

.imagenpop {
    flex: 1;
}

.imagenpop img {
    width: 100%;
    height: auto;
    align-content: left;
}

.hotelcaribbean {
    margin-bottom: 50px;
   
}

.contentcaribbean {
    display:flex;
    flex-direction:row-reverse;
    gap: 10px;
    align-items: flex-start;
}

.textcaribbean {
    flex: 1;
    font-size: 11.5px;
    text-align: left;
}

.imagencaribbean {
    flex: 1;
}

.imagencaribbean img {
    width: 100%;
    height: auto;
    align-content: left;
}