form{
    width: auto;
    height: 200px;
    border: 2px solid blue;
 
}

.slider-container {
  width: 100%; /* Ajusta el ancho según necesites */
  height: auto; /* Ajusta la altura según necesites */
  overflow: hidden; /* Oculta las imágenes que están fuera del contenedor */
  position: relative;
  background-color:blue;
}

.slider {
  display: flex;
  width: 400%; /* 100% por cada imagen, en este caso 3 imágenes */
  animation: slide 16s  infinite alternate ease-in-out; /* Anima con una duración de 10 segundos, repitiendo infinitamente */
}

.slider img {
  width: 25%; /* Cada imagen ocupa 1/3 del ancho del slider */
  height: auto;
  object-fit: cover;
}

/* Define la animación de desplazamiento automático */
@keyframes slide {
0% {margin-left: 0%;}
20% {margin-left: 0%;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;}
70% {margin-left: -200%;}

75% {margin-left: -300%;}
95% {margin-left: -300%;}

  /* 0% { transform: translateX(0); } /* Al inicio, muestra la primera imagen */
  20% { transform: translateX(0); } /* Muestra la primera imagen durante 2 segundos */
  30% { transform: translateX(-100%); } /* Se mueve a la segunda imagen */
  50% { transform: translateX(-100%); } /* Muestra la segunda imagen durante 2 segundos */
  60% { transform: translateX(-200%); } /* Se mueve a la tercera imagen */
  80% { transform: translateX(-200%); } /* Muestra la tercera imagen durante 2 segundos */
  65% { transform: translateX(-300%); } /* Se mueve a la tercera imagen */
  90% { transform: translateX(-300%); } /* Muestra la tercera imagen durante 2 segundos */
  100% { transform: translateX(0); } Regresa a la primera imagen */
}