body{
    color: aliceblue;
    background-color: blueviolet;

}
p{ text-transform: uppercase;}
h1{ text-decoration: line-through;}
div{ background-color:white;
height: 100px;
color: rgb(13, 0, 255);
}